<!-- XML CONFIGURATION FILE -->

<sslvpn>
<diyview>
<title-diy-table>
<row><index-title>SSL&#32;VPN</index-title><welcome-title>Welcome&#32;to&#32;SSL&#32;VPN</welcome-title><service-title>SSL&#32;VPN</service-title></row>
</title-diy-table>
<pic-save-table>
<row><service-logo>/svpn/images/h3c.gif</service-logo><service-bg>/svpn/images/top_right_01.jpg</service-bg><index-logo>/svpn/images/h3c.gif</index-logo></row>
</pic-save-table>
<all-diy-table>
<row><enable>0</enable></row>
</all-diy-table>
</diyview>
<resview>
<res-ipac-global-table>
<row><keepalive>10</keepalive><clireach>0</clireach><onlyvpn>0</onlyvpn><sevdis>0</sevdis></row>
</res-ipac-global-table>
<res-group-table>
<row><id>33890</id><name>autohome</name></row>
<row><id>17507</id><name>autostart</name></row>
</res-group-table>
</resview>
<userview>
<user-group-table>
<row><id>17408</id><name>Guests</name></row>
</user-group-table>
<user-table>
<row><id>2162688</id><name>guest</name><description>Default&#32;guest&#32;user</description><password-md5>3C943016CF71D795F741F76EED5B63AF</password-md5><public>0</public><public-limit>0</public-limit><status>0</status><period>0-0-0</period><studymac>0</studymac></row>
</user-table>
</userview>
<domainview>
<domain-policy-table>
<row><enable-sec-policy>0</enable-sec-policy><enable-verify>0</enable-verify><enable-only-client>0</enable-only-client><enable-bind-mac>0</enable-bind-mac><enable-auto-login>0</enable-auto-login><user-out-time>30</user-out-time><dft-auth-method>1</dft-auth-method><cert-sect>0</cert-sect><verify-out-time>120</verify-out-time></row>
</domain-policy-table>
<cache-policy-table>
<row><clear-cache>1</clear-cache><clear-cookie>1</clear-cookie><clear-client>0</clear-client><clear-config>1</clear-config></row>
</cache-policy-table>
<dom-loc-auth-table>
<row><cerpol>0</cerpol></row>
</dom-loc-auth-table>
<dom-radius-auth-table>
<row><ifstartauth>0</ifstartauth><cerpol>0</cerpol><ifstartcharge>0</ifstartcharge><ifupvirtualaddr>0</ifupvirtualaddr></row>
</dom-radius-auth-table>
<dom-ldap-auth-table>
<row><servport>389</servport><version>3</version><cerpol>0</cerpol><ifstartauth>0</ifstartauth><checkmethod>TEMPLATE</checkmethod></row>
</dom-ldap-auth-table>
<dom-ad-auth-table>
<row><cerpol>0</cerpol><ifstartauth>0</ifstartauth><serverectime>5</serverectime><usrnamestyle>0</usrnamestyle></row>
</dom-ad-auth-table>
<dom-comb-auth-table>
<row><ifstartcombauth>0</ifstartcombauth><cerpol>0</cerpol><ifinputpaswrdagain>0</ifinputpaswrdagain><cerpol_a>0</cerpol_a></row>
</dom-comb-auth-table>
</domainview>
<servermng>
<server-mng-table>
<row><enable>0</enable><port>443</port></row>
</server-mng-table>
</servermng>
</sslvpn>
<nat>
<nat>
<respond-table>
<row><respond-get>0</respond-get></row>
</respond-table>
</nat>
</nat>
<waninter>
<macaddress>
<macclone-table>
<row><ifindex>983040</ifindex><mactype>1</mactype><devmac>7848-5930-09e4</devmac><configure>1</configure></row>
<row><ifindex>983041</ifindex><mactype>1</mactype><devmac>7848-5930-09e5</devmac><configure>1</configure></row>
</macclone-table>
</macaddress>
</waninter>
<seclanserver>
<rdserver>
<rds-auth-table>
<row><auth-enable>0</auth-enable></row>
</rds-auth-table>
</rdserver>
</seclanserver>